.slide-one_content {
  position: absolute;
  z-index: 2;
}

.slide_key-text {
  font-family: "DIN Pro";
  margin: 0;
  font-size: 27px;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
}

.slide_key-text__default {
  padding-top: 169px;
  padding-left: 69px;
}

.slide_title-text {
  font-family: "Gilroy";
  margin: 0;
  line-height: 117px;
  letter-spacing: 6.1px;
  text-transform: uppercase;
}

.slide_title-text__font-size-big {
  padding-top: 15px;
  font-size: 109px;
}

.slide_title-text__font-light {
  font-weight: 300;
}

.slide_title-text__default-offset {
  padding-left: 69px;
}

.slide_title-text-end {
  padding-right: 36px;
}

.slide_title-text-bold {
  font-weight: 800;
}

/* Particles */
.slide-one_particles {
  top: 0;
  left: 0;
  position: absolute;
}

.slide-one_particles__under {
  top: 0;
  left: 0;
  z-index: 1;
  position: absolute;
}

.slide-one_particles__over {
  top: 0;
  left: 0;
  z-index: 3;
  position: absolute;
}

.slide-one_particle {
  position: absolute;
}

/* BacteriaLongSlide1 */
.slide-one_particle__1 {
  top: 72px;
  left: -89px;
}

/* BlurLargeSlide1 */
.slide-one_particle__2 {
  top: 631px;
  left: 344px;
}

/* BlurSmallSlide1 */
.slide-one_particle__3 {
  top: 30px;
  left: 917px;
}

/* SpermUnderSlide1 */
.slide-one_particle__4 {
  top: 593px;
  left: -134px;
}

/* SpermOverSlide1 */
.slide-one_particle__5 {
  top: 155px;
  left: 432px;
}
