.slide-one_content {
  position: absolute;
  z-index: 2;
}

.slide_key-text {
  font-family: "DIN Pro";
  margin: 0;
  font-size: 27px;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
}

.slide_key-text__default {
  padding-top: 169px;
  padding-left: 69px;
}

.slide_title-text {
  font-family: "Gilroy";
  margin: 0;
  line-height: 117px;
  letter-spacing: 6.1px;
  text-transform: uppercase;
}

.slide_title-text__font-size-big {
  padding-top: 15px;
  font-size: 109px;
}

.slide_title-text__font-light {
  font-weight: 300;
}

.slide_title-text__default-offset {
  padding-left: 69px;
}

.slide_title-text-end {
  padding-right: 36px;
}

.slide_title-text-bold {
  font-weight: 800;
}

/* Particles */
.slide-one_particles {
  top: 0;
  left: 0;
  position: absolute;
}

.slide-one_particles__under {
  top: 0;
  left: 0;
  z-index: 1;
  position: absolute;
}

.slide-one_particles__over {
  top: 0;
  left: 0;
  z-index: 3;
  position: absolute;
}

.slide-one_particle {
  position: absolute;
}

/* BacteriaLongSlide1 */
.slide-one_particle__1 {
  top: 72px;
  left: -89px;
}

/* BlurLargeSlide1 */
.slide-one_particle__2 {
  top: 631px;
  left: 344px;
}

/* BlurSmallSlide1 */
.slide-one_particle__3 {
  top: 30px;
  left: 917px;
}

/* SpermUnderSlide1 */
.slide-one_particle__4 {
  top: 593px;
  left: -134px;
}

/* SpermOverSlide1 */
.slide-one_particle__5 {
  top: 155px;
  left: 432px;
}

/* BacteriaPointyBottomSlide1 */
.slide-one_particle__6 {
  top: 641px;
  left: 542px;
  animation: slideOnePart6 5s linear infinite;
}

@keyframes slideOnePart6 {
  0% {
    transform: scale(1) translateX(0) translateY(0);
  }
  25% {
    transform: scale(1.05) translateX(2px) translateY(-4px);
  }
  50% {
    transform: scale(1) translateX(0) translateY(0);
  }
  75% {
    transform: scale(0.95) translateX(-4px) translateY(-2px);
  }
  100% {
    transform: scale(1) translateX(0) translateY(0);
  }
}

/* BacteriaSmoothBottomSlide1 */
.slide-one_particle__7 {
  top: 503px;
  left: 22px;
  animation: slideOnePart7 15s linear infinite;
}

@keyframes slideOnePart7 {
  0% {
    transform: rotate(0) translateX(0) translateY(0);
  }
  25% {
    transform: rotate(2deg) translateX(35px) translateY(20px);
  }
  50% {
    transform: rotate(0) translateX(70px) translateY(40px);
  }
  75% {
    transform: rotate(-2deg) translateX(35px) translateY(20px);
  }
  100% {
    transform: rotate(0) translateX(0) translateY(0);
  }
}

/* BacteriaSmoothBottomSlide1 */
.slide-one_particle__8 {
  top: 61px;
  left: 745px;
  animation: slideOnePart8 15s linear infinite;
}

@keyframes slideOnePart8 {
  0% {
    transform: scale(1) translateX(0) translateY(0);
  }
  50% {
    transform: scale(0.95) translateX(80px) translateY(20px);
  }
  75% {
    transform: scale(1.1) translateX(45px) translateY(30px);
  }
  100% {
    transform: scale(1) translateX(0) translateY(0);
  }
}

/* BacteriaPointyTopSlide1 */
.slide-one_particle__9 {
  top: 200px;
  left: 861px;
  animation: slideOnePart9 20s linear infinite;
}

@keyframes slideOnePart9 {
  0% {
    transform: rotate(0deg) translateX(0) translateY(0);
  }
  33% {
    transform: rotate(45deg) translateX(-140px) translateY(-20px);
  }
  66% {
    transform: rotate(90deg) translateX(-15px) translateY(-40px);
  }
  100% {
    transform: rotate(0deg) translateX(0) translateY(0);
  }
}
