/* Particles */
.slide-three_particles {
  top: 0;
  left: 2048;
  position: absolute;
  z-index: 101;
}

.slide-three_particle {
  position: absolute;
}

/* Bottle */
.slide-three_particle__1 {
  top: 80px;
  left: 50px;
}
