.slide-two_content {
  position: absolute;
  z-index: 201;
}

.slide_key-text {
  font-family: "DIN Pro";
  margin: 0;
  font-size: 27px;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
}

.slide_key-text__high {
  padding-top: 130px;
  padding-left: 69px;
}

.slide-two_article {
  padding-top: 47px;
  padding-left: 69px;
}

/* Particles */
.slide-two_background-particles {
  position: absolute;
  z-index: 200;
}

.slide-two_background-particle-1 {
  position: relative;
  left: 366px;
  top: 99px;
  animation: move1 4s;
}

@keyframes move1 {
  0% {
    transform: translateX(87px) translateY(42px);
    opacity: 0%;
  }

  100% {
    transform: translateX(0) translateY(0);
    opacity: 100%;
  }
}
